<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MikeMatei.com</title>
  <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <div class="blog-bg"><img class="blog-bg-img" src="/images/bg-blog-01.webp"></div>
      <section class="article-page-section">
        <div class="container-article">
          <div class="article-box">

            <div class="pair-box">

              <div class="text-side">
                <h3>About Me</h3>
                <div class="subtitle">April 14, 2025 &mdash; 
                Mike Matei
                </div>
                <p>Mike Matei has devoted his career to chronicling and promoting appreciation of retro pop-culture and video games.  Mike Matei has produced, edited, and starred in hundreds of videos with Cinemassacre Productions, the home channel of the Angry Video Game Nerd, James and Mike Mondays and other series.  Mike Matei, alongside his friend and collaborator James Rolfe, was instrumental in building the fledgling video production company into one of the first breakout successes in YouTube’s history.  For more than a decade, Mike Matei has generated thousands of hours of scripted and live content. </p>

              </div>

              <div class="image-side">
                <img src="/images/mike-bio.jpg" alt="mike" title="" />
              </div>

            </div>


            
            <p>Mike Matei’s original forays into internet media included his work on popular viral hits such as Monster Madness, Godzillathon and his own Mike Matei Glitches series.</p>

            <p>Mike Matei spent the better part of 2016 animating the Teenage Mutant Ninja Turtles cartoon intro entirely with a Super Nintendo using Mario Paint, possibly the most ambitious project ever created with the Mario Paint video game.</p>

            <p>Recently, Mike Matei (MikeMateiLive) has been streaming on Twitch, playing classics such as Warcraft 2 and more exotic fare like the LJN Video Art console for a live audience.</p>

            <p>Mike Matei holds a degree in Animation.</p>


          </div>
        </div>


      </section>
    </main>
      <button id="backToTop">
        <div class="up-symbol">
          <div class="up-triangle"></div>
          <div class="up-stem"></div>
          <div class="up-dash"></div>
          <div class="up-text">TOP</div>
        </div>
      </button>

  <%- include('../partials/footer.ejs') %>
  <script src="/js/main.min.js"></script>
</body>

</html>
