<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MikeMatei.com</title>
  <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <div class="blog-bg"><img class="blog-bg-img" src="/images/bg-blog-01.webp"></div>
      <section class="article-page-section">
        <div class="container-article">
          <div class="article-box">

                <h3>
                Monster Party
                </h3>
                <div class="subtitle">May 20, 2025 &mdash; 
                Mike Matei
                </div>

                <p>I'm redrawing more NES box covers. Here's Monster Party.</p>

                <div class="four-box">
                <a href="/images/mp-01.jpg">
                <img src="/images/mp-01.jpg">
                </a>
                <a href="/images/mp-02.jpg">
                <img src="/images/mp-02.jpg">
                </a>
                <a href="/images/mp-03.jpg">
                <img src="/images/mp-03.jpg">
                </a>
                <a href="/images/mp-04.jpg">
                <img src="/images/mp-04.jpg">
                </a>
                </div>

                <div>
                <img src="/images/mp-final.jpg">
                </div>


          </div>

          <div class="after-article-box">
            <a class="round-button" href="/#blog-list">See all articles</a>
            <a class="round-button" href="./articles/article-monsterparty">Next Article: Monster Party</a>
          </div>

        </div>


      </section>
    </main>
      <button id="backToTop">
        <div class="up-symbol">
          <div class="up-triangle"></div>
          <div class="up-stem"></div>
          <div class="up-dash"></div>
          <div class="up-text">TOP</div>
        </div>
      </button>

  <%- include('../partials/footer.ejs') %>
  <script src="/js/main.min.js"></script>
</body>
</html>
