<footer class="footer">
  <p>Mike Matei</p>

  <div class="footer-links-area">
    <div class="pair-box">
      <div class="pair-first">
        <a href="https://www.twitch.tv/mikemateilive" target="_blank" rel="noopener noreferrer"><div class="button-blue button">
          <i class="fab fa-twitch"></i></div>
        </a>
        <a href="https://www.youtube.com/@mikematei" target="_blank" rel="noopener noreferrer"><div class="button-red button">
          <i class="fab fa-youtube"></i></div>
        </a>
      </div>
      <div class="pair-second">
        <a href="https://mike-matei.creator-spring.com/" target="_blank" rel="noopener noreferrer"><div class="button-cta button">BUY A SHIRT OR MUG</div></a>
      </div>
    </div>
  </div>

</footer>