<footer class="footer">
  <p>Mike Matei</p>

  <div class="footer-links-area">
  <a href="https://www.twitch.tv/mikemateilive" target="_blank" rel="noopener noreferrer"><div class="button-blue">
    <i class="fab fa-twitch"></i></div>
  </a>
   <a href="https://www.youtube.com/@mikematei" target="_blank" rel="noopener noreferrer"><div class="button-red">
    <i class="fab fa-youtube"></i></div>
  </a>

  <a href="https://mike-matei.creator-spring.com/" target="_blank" rel="noopener noreferrer"><div class="button-cta">BUY A SHIRT OR MUG</div></a>
  </div>

</footer>