<header>
  <nav class="nav-bar">
    <a href="/index.html"><img class="nav-logo" src="/images/bg-kv-01.png"></a>
    <div class="nav-right">
      <a href="/about-me.html"><div class="button-red">About</div></a>
      <a href="https://mike-matei.creator-spring.com/" target="_blank" rel="noopener noreferrer"><div class="button-green">Shop</div></a>
      <a href="/gamesbeaten.html"><div class="button-blue">Games</div></a>
    </div>
  </nav>
</header>